<div class="main-container">
  <%- include('../layouts/header.ejs')%> <%-
  include('../layouts/navigation.ejs')%> <% if(todos.length > 0){%> <%
  todos.forEach(fav=>{%>
  <div class="todo-items">
    <h1><%= fav.todo %></h1>

    <p><%= fav.description%></p>

    <div class="action-btns-3">
      <form action="/add-to-favourites" method="POST">
        <input type="hidden" value="<%= fav.id %>" name="todoId" />
        <button type="submit">Add to Fav</button>
      </form>
      <%- include('../layouts/completedTodos.ejs',{fav:fav})%>

      <a href="/show-todo-details/<%= fav.id %>">Detail</a>
    </div>
  </div>
  <%} )%> <% } else { %>
  <h1 class="no-items-desc">No todos are created</h1>
  <% } %>
</div>
<%-include('../layouts/footer.ejs')%>
